<div id="frontpageCarousel" class="carousel slide">
  <div class="carousel-wrapper">
    <div class="carousel-inner">
      <f:format.raw>{content}</f:format.raw>
    </div>
  </div>
            <!-- Indicators -->
  <div class="slider-navi">
    <a class="left carousel-control" href="#frontpageCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <ol class="carousel-indicators">
    </ol>
    <a class="right carousel-control" href="#frontpageCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>


