<div id="branchImage" class="no-margin-wrapper"></div>
<div class="slider-left-content-right-wrapper col-xs-12">
  <div id="slider_left" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <div id="productCarousel" class="carousel slide">
      <div class="carousel-wrapper">
        <div class="carousel-inner">
          <f:format.html parseFuncTSPath="">{sliderLeft}</f:format.html>
        </div>
      </div>
     <!-- Indicators -->
      <div class="slider-navi">
        <a class="left carousel-control" href="#productCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span></a>
        <ol class="carousel-indicators">
        </ol>
        <a class="right carousel-control" href="#productCarousel" data-slide="next">   
        <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>

  <div id="content_right" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <f:format.html parseFuncTSPath="">{contentRight}</f:format.html>
  </div>
</div>

