<div class="productslider-left-content-right-wrapper col-xs-12">
  <div id="content_top" class="col-xs-12 content-top"><f:format.html parseFuncTSPath="">{contentTop}</f:format.html></div>

  <div id="productslider_left" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <div id="productCarousel" class="carousel slide">
      <div class="carousel-wrapper">
	<div class="carousel-inner">
	  <f:format.html parseFuncTSPath="">{productsLeft}</f:format.html>
	</div>
      </div>
      <!-- Indicators -->
      <div class="slider-navi">
	<a class="left carousel-control" href="#productCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<ol class="carousel-indicators">
	</ol>
	<a class="right carousel-control" href="#productCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>

  </div>

  <div id="content_right" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <f:format.html parseFuncTSPath="">{contentRight}</f:format.html>
  </div>
</div>

