<!-- one image and text below left, text right -->

<div id="leftContentWrapper" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

  <div id="content_image" class="col-xs-12"><f:format.html parseFuncTSPath="">{contentImage}</f:format.html></div>
 
  <div id="content_below_image" class="col-xs-12"><f:format.html parseFuncTSPath="">{contentBelowImage}</f:format.html></div>
  
</div><!-- /#leftContentWrapper -->

<div id="content_main" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <f:format.html parseFuncTSPath="">{contentMain}</f:format.html>
</div>

