<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Anto Paar ShapeTec GmbH</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/navbar-static-top.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">
    <div class="section-header">
      <div class="container">
        <div class="logo-collapse">
          <div class="logo logobar">
            <a class="navbar-brand" href="#"><img title="Anton Paar" src="http://www.anton-paar.com/typo3conf/ext/theme_antonpaar/Resources/Public/Template/img/logo-anton-paar.png" alt="Anton Paar"></a>
          </div>
          <div class="header-search header-right">
            <form class="searchform" action="" method="get">
              <div class="search-visible">
                <!-- <label class="search-text">Suche</label> -->
                <button type="button" class="search-button" data-toggle="collapse" data-target="#search">Suche</button>
              </div>
              <div class="search-toggle collapse" id="search">
              <input>
              <button type="button" class="btn btn-mini">Go</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Startseite</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Branchen <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Medizintechnik</a></li>
                    <li><a href="#">Luft- und Raumfahrt</a></li>
                    <li><a href="#">Schienenfahrzeuge</a></li>
                    <li><a href="#">Messtechnik</a></li>
                    <li><a href="#">Information und Kommunikation</a></li>
                    <li><a href="#">Gehäuse- und Maschinenbau</a></li>
                  </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase content-container" role="main">
      <!-- Breadcrumbs -->
      <div class="breadcrumb">
        <span><a href="#" title="Startseite" rel="v:url" property="v:title">Startseite</a></span>
        <span class="active"><a href="#" title="Produkte" rel="v:url" property="v:title">Produkte</a></span>
      </div> <!-- /breadcrumbs -->
      <!-- Partials section -->
    <div class="content-wrapper">
        <!-- Partials section -->
          
          <!-- one image and text below left, text right -->

<div id="leftContentWrapper" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

  <div id="content_image" class="col-xs-12">
  <!--  CONTENT ELEMENT, uid:34/image [begin] -->
    <div id="c34" class="csc-default">
    <!--  Image block: [begin] -->
      <div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap"><div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"><div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol"><div class="csc-textpic-image csc-textpic-last"><img src="http://dev.shapetec.at/fileadmin/_processed_/csm_medizintechnik_01_4fb97e4709.jpg" width="295" height="228" alt="" border="0"></div></div>
<div class="csc-textpic-imagecolumn csc-textpic-lastcol"><div class="csc-textpic-image csc-textpic-last"><img src="http://dev.shapetec.at/fileadmin/_processed_/csm_medizintechnik_02_e092fd3a05.jpg" width="295" height="228" alt="" border="0"></div></div></div>
<div class="csc-textpic-imagerow"><div class="csc-textpic-imagecolumn csc-textpic-firstcol"><div class="csc-textpic-image csc-textpic-last"><img src="http://dev.shapetec.at/fileadmin/_processed_/csm_medizintechnik_03_000b2cf86d.jpg" width="295" height="228" alt="" border="0"></div></div>
<div class="csc-textpic-imagecolumn csc-textpic-lastcol"><div class="csc-textpic-image csc-textpic-last"><img src="http://dev.shapetec.at/fileadmin/_processed_/csm_medizintechnik_04_a81c9fa9d0.jpg" width="295" height="228" alt="" border="0"></div></div></div>
<div class="csc-textpic-imagerow csc-textpic-imagerow-last"><div class="csc-textpic-imagecolumn csc-textpic-firstcol"><div class="csc-textpic-image csc-textpic-last"><img src="http://dev.shapetec.at/fileadmin/_processed_/csm_medizintechnik_05_f18d76d4d8.jpg" width="295" height="228" alt="" border="0"></div></div>
<div class="csc-textpic-imagecolumn csc-textpic-lastcol">&nbsp;</div></div></div></div></div></div>
    <!--  Image block: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:34/image [end] -->
    </div>
 
  <div id="content_below_image" class="col-xs-12"></div>
  
</div><!-- /#leftContentWrapper -->

<div id="content_main" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  
  <!--  CONTENT ELEMENT, uid:10/text [begin] -->
    <div id="c10" class="csc-default">
    <!--  Header: [begin] -->
      <div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Medizintechnik — zuverlässige Komponenten ohne Kompromisse</h1></div>
    <!--  Header: [end] -->
      
    <!--  Text: [begin] -->
      <p class="bodytext"><i>Sie benötigen medizinische Produkte, die höchsten Ansprüchen gerecht werden? Anton Paar ShapeTec ist Ihr verlässlicher Partner bei der Produktion von Implantaten und Komponenten für Prothesen bis hin zu Komplettgeräten für die Chirurgie.</i>&nbsp;
</p>
<h3><strong>Erfahrung, die zählt</strong></h3>
<p class="bodytext">Wenn es um das Leben eines Menschen geht, gibt es keine Kompromisse. Seit Jahrzehnten ist Anton Paar ShapeTec im medizinischen Sektor tätig; die Produktion von Implantaten und Komponenten für Prothesen bis hin zu Komplettgeräten für die Chirurgie zählt zu unserem Kerngeschäft.
</p>
<h3><strong>Hohe Ansprüche an unsere Produkte</strong></h3>
<p class="bodytext">Die Medizintechnik ist eine stark wachsende Branche mit hohem Potenzial für die Zukunft. Täglich stellen wir uns neuen Herausforderungen, zunehmendem Fortschritt, kurzen Produktlebenszyklen und dementsprechend hohen Anforderungen.&nbsp;
</p>
<h3><strong>Hohe Ansprüche an uns selbst</strong></h3>
<p class="bodytext">Sämtliche Produkte von Anton Paar ShapeTec sind uneingeschränkt rückverfolgbar – egal in welcher Stufe des Herstellungsprozesses. Auf diese Weise können wir hochqualitative Produkte in jeder Produktionsphase garantieren.</p>
    <!--  Text: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:10/text [end] -->
    
</div>


          

          
      <!-- Partials section END --> 
      </div>
      <!-- Partials section END --> 

    </div> <!-- /container -->

    <div id="footer">
      <div class="footer-image">
        <div class="container"></div>
      </div>
      
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">Anton Paar ShapeTec GmbH</div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
              <ul class="nav navbar-nav">
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">AGB/Impressum</a></li>
                <li><a href="#">Nutzungsbedingungen</a></li>
              </ul>
            </div>
        </div>
    </div> <!-- /footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <script src="../js/transition.js"></script>
  </body>
</html>
