/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/*Import additional mixins, variables */
/* HTML element (SMACSS base) rules */
/* Layout rules */
/* Component (SMACSS module) rules */
/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
/* Full width submenu as on anton-paar.com */
/* Doesn't work on mobile devices */
/*@media only screen and (min-width: 769px) {
	.open {
	position: static !important;
	float: left !important;
	}
	.open > .dropdown-menu {
		background-color: #353535;
		color: #e6e6e6;
		float: left;
		width: 100%;
	}

	.open > .dropdown-menu li a {
		color: white;
	}
}*/
/* line 28, ../sass/_custom.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 0;
  background-image: url('../img/bg-pattern.gif?1406310262');
  background-repeat: repeat;
}

/* line 41, ../sass/_custom.scss */
h1, h2, h3, h4, h5, h6 {
  color: #990000;
}

/* line 45, ../sass/_custom.scss */
h1 {
  font-size: 26px;
  font-size: 2.5rem;
}

/* line 50, ../sass/_custom.scss */
h2 {
  font-size: 20px;
  font-size: 2rem;
}

/* line 55, ../sass/_custom.scss */
h3, h4, h5, h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 60, ../sass/_custom.scss */
iframe {
  width: 100%;
}

/* line 73, ../sass/_custom.scss */
h2 a,
.bodytext a,
ul li a,
.search-result-url a,
.kesearch_pagebrowser a {
  color: #353535;
}
/* line 75, ../sass/_custom.scss */
h2 a:hover, h2 a:focus,
.bodytext a:hover,
.bodytext a:focus,
ul li a:hover,
ul li a:focus,
.search-result-url a:hover,
.search-result-url a:focus,
.kesearch_pagebrowser a:hover,
.kesearch_pagebrowser a:focus {
  color: #353535;
}
/* line 78, ../sass/_custom.scss */
h2 a:visited,
.bodytext a:visited,
ul li a:visited,
.search-result-url a:visited,
.kesearch_pagebrowser a:visited {
  color: ligthen(#353535, 5%);
}

/* line 86, ../sass/_custom.scss */
.bodytext a,
.search-result-url a {
  text-decoration: underline !important;
}
/* line 88, ../sass/_custom.scss */
.bodytext a:hover, .bodytext a:focus,
.search-result-url a:hover,
.search-result-url a:focus {
  text-decoration: none !important;
}

/* =========================================================== */
/* Header > Logo Section */
/* =========================================================== */
/* line 103, ../sass/_custom.scss */
.section-header {
  background: url(../img/bg-header-repeat.gif) repeat scroll;
  position: relative;
  z-index: 9999;
}

/* line 109, ../sass/_custom.scss */
.section-header .container {
  background: url(../img/bg-header-960.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 90px;
}
@media only screen and (min-width: 992px) {
  /* line 109, ../sass/_custom.scss */
  .section-header .container {
    width: 940px;
  }
}

/* line 119, ../sass/_custom.scss */
.logobar {
  float: left;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  /* line 119, ../sass/_custom.scss */
  .logobar {
    width: 210px;
  }
}
@media only screen and (max-width: 419px) {
  /* line 119, ../sass/_custom.scss */
  .logobar {
    width: 180px;
  }
}

/* line 130, ../sass/_custom.scss */
.header-right {
  float: right;
}

/* line 135, ../sass/_custom.scss */
.logo img {
  /*	height: 60px;
  	width: 191px;
  */
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  /* line 135, ../sass/_custom.scss */
  .logo img {
    width: 350px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 135, ../sass/_custom.scss */
  .logo img {
    width: 250px;
  }
}
@media only screen and (max-width: 370px) {
  /* line 135, ../sass/_custom.scss */
  .logo img {
    width: 240px;
  }
}

/* line 158, ../sass/_custom.scss */
.header-right {
  position: relative;
  width: 240px !important;
}

/* line 163, ../sass/_custom.scss */
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

/* line 168, ../sass/_custom.scss */
.searchform {
  margin-top: 55px;
}
@media only screen and (max-width: 767.99px) {
  /* line 168, ../sass/_custom.scss */
  .searchform {
    width: 180px;
    float: right;
  }
}
@media only screen and (max-width: 480px) {
  /* line 168, ../sass/_custom.scss */
  .searchform {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767.99px) {
  /* line 177, ../sass/_custom.scss */
  .searchform input {
    width: 118px;
  }
}

/* line 184, ../sass/_custom.scss */
.search-visible {
  text-align: right;
}

/* line 188, ../sass/_custom.scss */
.search-text {
  color: white;
}

/* line 192, ../sass/_custom.scss */
.search-button {
  color: #c2c2c2;
  background-image: url(../img/lupe.png);
  background-color: transparent;
  background-repeat: no-repeat;
  height: 17px;
  width: 100px;
  box-shadow: none;
  border: none;
  background-position: center right;
}

/* line 205, ../sass/_custom.scss */
.search-toggle {
  margin-top: 16px;
  padding: 15px;
  background-color: #666;
  position: absolute;
  width: 240px;
}
/* line 211, ../sass/_custom.scss */
.search-toggle button {
  background-color: #C2C2C2;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 205, ../sass/_custom.scss */
  .search-toggle {
    width: 260px;
  }
}
@media only screen and (max-width: 767.99px) {
  /* line 205, ../sass/_custom.scss */
  .search-toggle {
    padding: 6px;
    width: 180px;
    margin-top: 22px;
  }
}

/* line 239, ../sass/_custom.scss */
.lt-ie9 .header-right,
.lt-ie10 .header-right {
  position: relative;
  width: 240px;
}
/* line 243, ../sass/_custom.scss */
.lt-ie9 .search-toggle,
.lt-ie10 .search-toggle {
  position: fixed;
  z-index: 3000;
  width: 240px;
}

/* Background Image for navbar */
@media only screen and (min-width: 768px) {
  /* line 271, ../sass/_custom.scss */
  .navbar-static-top {
    margin-bottom: 0 !important;
  }

  /* line 274, ../sass/_custom.scss */
  .navbar {
    position: relative;
    z-index: 10;
    background-image: none;
    box-shadow: none;
    background-color: #C2C2C2 !important;
    height: 42px;
    min-height: 42px;
    border-top: 1px solid #FFFFFF;
    background-repeat: repeat-x;
  }
}
@media only screen and (min-width: 768px) and (min-width: 992px) {
  /* line 285, ../sass/_custom.scss */
  .navbar .container {
    width: 940px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 290, ../sass/_custom.scss */
  .navbar li {
    border-left: 1px solid #353535;
    height: 40px;
  }
  /* line 294, ../sass/_custom.scss */
  .navbar li:hover a, .navbar li:focus a {
    color: white !important;
  }
  /* line 299, ../sass/_custom.scss */
  .navbar li:last-child {
    border-right: 1px solid #353535;
  }
  /* line 302, ../sass/_custom.scss */
  .navbar li.active {
    border: none;
  }
  /* line 305, ../sass/_custom.scss */
  .navbar li ul li {
    border: none;
  }
  /* line 307, ../sass/_custom.scss */
  .navbar li ul li:last-child {
    border: none;
  }

  /* line 314, ../sass/_custom.scss */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: #353535 !important;
    height: 40px;
  }

  /* line 323, ../sass/_custom.scss */
  .navbar-nav > li > a {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px !important;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  /* line 323, ../sass/_custom.scss */
  .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 992px) {
  /* line 323, ../sass/_custom.scss */
  .navbar-nav > li > a {
    padding-right: 31px !important;
    padding-left: 32px !important;
  }
}

@media only screen and (min-width: 768px) {
  /* line 342, ../sass/_custom.scss */
  .navbar-nav > li a,
  .navbar-nav > li.active a {
    padding-top: 10px;
    padding-bottom: 0;
    background-image: none;
    box-shadow: none;
    background-image: none !important;
    text-transform: uppercase;
  }
  /* line 352, ../sass/_custom.scss */
  .navbar-nav li > a {
    color: #353535 !important;
  }
  /* line 355, ../sass/_custom.scss */
  .navbar-nav li.dropdown.active > a,
  .navbar-nav li.active > a {
    color: white !important;
  }

  /* line 362, ../sass/_custom.scss */
  .navbar-static-top > li:hover,
  .navbar-static-top > li.active {
    height: 40px;
    min-height: 40px;
    background-color: #353535 !important;
  }
  /* line 367, ../sass/_custom.scss */
  .navbar-static-top > li:hover > a,
  .navbar-static-top > li.active > a {
    color: white !important;
    background-image: none;
  }

  /* line 374, ../sass/_custom.scss */
  .navbar-nav .open {
    background-color: #4f4f4f !important;
  }
  /* line 376, ../sass/_custom.scss */
  .navbar-nav .open > a {
    background-color: #4f4f4f !important;
    color: white !important;
  }
  /* line 380, ../sass/_custom.scss */
  .navbar-nav .open ul.dropdown-menu {
    background-color: #4f4f4f;
  }
  /* line 382, ../sass/_custom.scss */
  .navbar-nav .open ul.dropdown-menu li a {
    background-color: #4f4f4f;
    color: white;
  }
  /* line 387, ../sass/_custom.scss */
  .navbar-nav .open ul.dropdown-menu li.active a {
    background-color: #C2C2C2;
  }

  /* line 392, ../sass/_custom.scss */
  .navbar-toggle {
    margin-top: 7px;
    background-color: #F0F0F0 !important;
  }

  /* line 398, ../sass/_custom.scss */
  .navbar-nav > li:hover {
    background-color: #4f4f4f !important;
    color: white !important;
  }
  /* line 403, ../sass/_custom.scss */
  .navbar-nav > li a:hover {
    background-color: #4f4f4f !important;
    color: white !important;
  }
}
/* line 419, ../sass/_custom.scss */
.lt-ie9 .navbar .container {
  width: 940px;
}

/* line 425, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top {
  position: relative;
  z-index: 10;
  background-image: none;
  box-shadow: none;
  background-color: #C2C2C2 !important;
  height: 42px;
  min-height: 42px;
  border-top: 1px solid #FFFFFF;
  background-repeat: repeat-x;
}
@media only screen and (min-width: 992px) {
  /* line 436, ../sass/_custom.scss */
  .lt-ie9 .navbar-static-top .container {
    width: 940px;
  }
}
/* line 441, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top li {
  border-left: 1px solid #353535;
  height: 41px;
}
/* line 445, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top li:hover a, .lt-ie9 .navbar-static-top li:focus a {
  color: white !important;
}
/* line 449, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top li:last-child {
  border-right: 1px solid #353535;
}
/* line 452, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top li.active {
  border: none;
}
/* line 455, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top li ul li {
  border: none;
}
/* line 457, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top li ul li:last-child {
  border: none;
}
/* line 464, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top .navbar-nav > .active > a,
.lt-ie9 .navbar-static-top .navbar-nav > .active > a:hover,
.lt-ie9 .navbar-static-top .navbar-nav > .active > a:focus {
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);
}
/* line 472, ../sass/_custom.scss */
.lt-ie9 .dropdown-menu > .active > a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2C2C2', endColorstr='#C2C2C2', GradientType=0);
  padding-top: 8px;
  padding-bottom: 16px !important;
}
/* line 477, ../sass/_custom.scss */
.lt-ie9 .dropdown-menu > li > a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);
}
/* line 484, ../sass/_custom.scss */
.lt-ie9 .navbar-nav > li a,
.lt-ie9 .navbar-nav > li.active a {
  padding-top: 10px;
  padding-bottom: 0;
  background-image: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none !important;
  text-transform: uppercase;
}
/* line 494, ../sass/_custom.scss */
.lt-ie9 .navbar-nav li > a {
  color: #353535 !important;
}
/* line 497, ../sass/_custom.scss */
.lt-ie9 .navbar-nav li.dropdown.active > a {
  color: white !important;
}
/* line 503, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top ul.nav li.active,
.lt-ie9 .navbar-static-top ul.nav li:hover {
  height: 41px;
  background-color: #353535 !important;
}
/* line 507, ../sass/_custom.scss */
.lt-ie9 .navbar-static-top ul.nav li.active a,
.lt-ie9 .navbar-static-top ul.nav li:hover a {
  color: white !important;
}
/* line 514, ../sass/_custom.scss */
.lt-ie9 .navbar-nav .open {
  background: #4f4f4f !important;
}
/* line 516, ../sass/_custom.scss */
.lt-ie9 .navbar-nav .open > a {
  background-color: #4f4f4f !important;
  color: white !important;
}
/* line 521, ../sass/_custom.scss */
.lt-ie9 .navbar-nav .open ul.dropdown-menu li a {
  background-color: #4f4f4f;
  color: white;
}
/* line 525, ../sass/_custom.scss */
.lt-ie9 .navbar-nav .open ul.dropdown-menu li.active a {
  background-color: #C2C2C2;
}
/* line 530, ../sass/_custom.scss */
.lt-ie9 .navbar-toggle {
  margin-top: 7px;
  background-color: #F0F0F0 !important;
}

/* line 536, ../sass/_custom.scss */
.lt-ie10 .navbar-nav > li.active > a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);
}

/* line 541, ../sass/_custom.scss */
.lt-ie10 .dropdown-menu > .active > a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2C2C2', endColorstr='#C2C2C2', GradientType=0);
  padding-top: 8px;
  padding-bottom: 8px !important;
}
/* line 546, ../sass/_custom.scss */
.lt-ie10 .dropdown-menu > li:hover > a,
.lt-ie10 .dropdown-menu > li:focus > a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);
}

/* Mobile */
@media only screen and (max-width: 767px) {
  /* line 561, ../sass/_custom.scss */
  .navbar,
  .navbar-default .navbar-nav > .active > a {
    background-color: #C2C2C2 !important;
    background-image: none;
  }

  /* line 566, ../sass/_custom.scss */
  .navbar-toggle {
    margin-top: 7px;
    background-color: #F0F0F0 !important;
  }

  /* line 570, ../sass/_custom.scss */
  .navbar-collapse {
    background-color: #353535 !important;
  }
  /* line 572, ../sass/_custom.scss */
  .navbar-collapse .open {
    border-bottom: 1px solid white;
  }

  /* line 577, ../sass/_custom.scss */
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: white;
  }

  /* line 583, ../sass/_custom.scss */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #353535;
  }
}
/* line 596, ../sass/_custom.scss */
.dropdown-menu {
  background-color: #353535;
  box-shadow: none;
  border: none;
}
/* line 602, ../sass/_custom.scss */
.dropdown-menu li a {
  color: white !important;
}
/* line 604, ../sass/_custom.scss */
.dropdown-menu li a:hover {
  text-decoration: underline;
  color: white !important;
  background-color: transparent;
}

/* line 613, ../sass/_custom.scss */
.dropdown-menu > .active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #C2C2C2 !important;
  background-image: none !important;
}

@media only screen and (min-width: 992px) {
  /* line 630, ../sass/_custom.scss */
  .content-container {
    width: 940px;
  }
}

/* line 637, ../sass/_custom.scss */
.lt-ie9 .container {
  width: 940px;
}

/* line 641, ../sass/_custom.scss */
.content-wrapper {
  border: 1px solid #C2C2C2;
  background-color: white;
}
/* line 645, ../sass/_custom.scss */
.content-wrapper:after, .content-wrapper:before {
  content: " ";
  display: table;
}
/* line 649, ../sass/_custom.scss */
.content-wrapper:after {
  clear: both;
}

/* line 654, ../sass/_custom.scss */
#content_top {
  padding-left: 30px;
  padding-right: 30px;
}
/* line 657, ../sass/_custom.scss */
#content_top p {
  border-bottom: 1px solid #C2C2C2;
  padding-bottom: 16px !important;
  margin-bottom: 16px !important;
}

/* line 665, ../sass/_custom.scss */
.content-left-right-wrapper #content_right {
  border-left: 1px solid #C2C2C2;
  margin-bottom: 20px;
}
@media only screen and (max-width: 568px) {
  /* line 665, ../sass/_custom.scss */
  .content-left-right-wrapper #content_right {
    border-left: 0;
  }
}

/* line 680, ../sass/_custom.scss */
#leftContentWrapper #content_image .csc-textpic,
#content_left .csc-textpic {
  margin-top: 20px;
  margin-top: 2rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

/* line 692, ../sass/_custom.scss */
.csc-default:last-child {
  margin-bottom: 30px;
  margin-bottom: 3rem;
}
/* line 696, ../sass/_custom.scss */
.csc-default:last-child p .btn {
  margin-top: 10px;
  margin-top: 1rem;
}

/* line 708, ../sass/_custom.scss */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 16px 0;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 15px;
  z-index: 10;
}
/* line 717, ../sass/_custom.scss */
.breadcrumb a {
  color: #353535;
}
/* line 722, ../sass/_custom.scss */
.breadcrumb a:hover {
  text-decoration: underline;
}
/* line 728, ../sass/_custom.scss */
.breadcrumb span {
  background: none !important;
  padding: 0 !important;
}
/* line 731, ../sass/_custom.scss */
.breadcrumb span a {
  color: #353535;
}
/* line 733, ../sass/_custom.scss */
.breadcrumb span a:after {
  content: " / ";
}
/* line 736, ../sass/_custom.scss */
.breadcrumb span a:hover {
  text-decoration: underline;
}
/* line 741, ../sass/_custom.scss */
.breadcrumb span.active a {
  text-decoration: underline;
}
/* line 743, ../sass/_custom.scss */
.breadcrumb span.active a:after {
  content: " ";
}

@media only screen and (min-width: 992px) {
  /* line 767, ../sass/_custom.scss */
  #frontpageCarousel .carousel-caption {
    left: 520px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    width: 356px;
    text-align: left;
  }

  /* line 782, ../sass/_custom.scss */
  .carousel-caption h1 {
    margin-top: 0;
    margin-bottom: 20px;
    margin-bottom: 2rem;
  }
  /* line 787, ../sass/_custom.scss */
  .carousel-caption p {
    margin-right: 8px;
    margin-right: .5rem;
  }

  /* line 793, ../sass/_custom.scss */
  .carousel-indicators {
    bottom: 0;
  }

  /* line 797, ../sass/_custom.scss */
  #frontpageCarousel .carousel-indicators {
    left: 60%;
    margin-left: 0;
  }
}
/* line 804, ../sass/_custom.scss */
.lt-ie9 #frontpageCarousel .carousel-indicators {
  left: 37%;
  margin-left: 0;
  top: 365px;
}

/* line 810, ../sass/_custom.scss */
.lt-ie9 #frontpageCarousel .carousel-caption {
  left: 520px;
  width: 356px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-align: left;
}

/* line 819, ../sass/_custom.scss */
.lt-ie9 #frontpageCarousel .carousel-caption,
.lt-ie9 #productCarousel .carousel-caption {
  background: url("../img/slider-bg.png") repeat;
}

/* line 826, ../sass/_custom.scss */
.lt-ie9 .btn-danger {
  background-color: #990000;
}

@media only screen and (max-width: 600px) {
  /* line 832, ../sass/_custom.scss */
  #frontpageCarousel .carousel-caption {
    top: 0;
  }
}
/* line 838, ../sass/_custom.scss */
#frontpageCarousel {
  border: 1px solid #C2C2C2;
}

/* line 842, ../sass/_custom.scss */
.carousel-inner {
  position: relative;
  z-index: 1;
}
/* line 845, ../sass/_custom.scss */
.carousel-inner img {
  z-index: 1;
}

/* line 850, ../sass/_custom.scss */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
/* line 855, ../sass/_custom.scss */
.carousel-caption h1 {
  color: #FFFFFF;
}

/* line 860, ../sass/_custom.scss */
#frontpageCarousel .carousel-wrapper {
  padding: 15px;
}

/* line 864, ../sass/_custom.scss */
#contentCarousel .carousel-wrapper {
  padding: 15px 15px 15px 0;
}

/* line 869, ../sass/_custom.scss */
.slider-navi {
  height: 30px;
}
/* line 871, ../sass/_custom.scss */
.slider-navi:before, .slider-navi:after {
  conten: " ";
  display: table;
}
/* line 875, ../sass/_custom.scss */
.slider-navi:after {
  clear: both;
}

/* line 880, ../sass/_custom.scss */
#frontpageCarousel .slider-navi {
  background: #F0F0F0;
  border-top: 1px solid gainsboro;
}

/* line 887, ../sass/_custom.scss */
#frontpageCarousel .carousel-control {
  width: 20px;
}
/* line 890, ../sass/_custom.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

@media only screen and (max-width: 568px) {
  /* line 897, ../sass/_custom.scss */
  #frontpageCarousel .item {
    min-height: 220px;
  }

  /* line 904, ../sass/_custom.scss */
  #frontpageCarousel .carousel-caption {
    min-height: 320px !important;
    padding-top: 0;
    left: 0;
    right: 0;
  }
  /* line 910, ../sass/_custom.scss */
  #frontpageCarousel .carousel-indicators {
    top: 92% !important;
    left: 62% !important;
  }
  /* line 914, ../sass/_custom.scss */
  #frontpageCarousel .carousel-control.left,
  #frontpageCarousel .carousel-control.right {
    top: 21%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 924, ../sass/_custom.scss */
  #frontpageCarousel .carousel-caption h1 {
    font-size: 20px;
    font-size: 2rem;
  }
}
/* line 934, ../sass/_custom.scss */
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
  content: none !important;
}

/* line 939, ../sass/_custom.scss */
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 16px;
  height: 16px;
  top: 98%;
}
@media only screen and (max-width: 767.99px) {
  /* line 939, ../sass/_custom.scss */
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    top: 93%;
  }
}
/* line 949, ../sass/_custom.scss */
#contentCarousel .carousel-control .glyphicon-chevron-left, #contentCarousel
.carousel-control .glyphicon-chevron-right, #contentCarousel
.carousel-control .icon-prev, #contentCarousel
.carousel-control .icon-next {
  margin-top: -22px;
}
@media only screen and (max-width: 600px) {
  /* line 939, ../sass/_custom.scss */
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    top: 90%;
  }
}

/* line 957, ../sass/_custom.scss */
#frontpageCarousel .carousel-control .icon-prev,
#frontpageCarousel .carousel-control .glyphicon-chevron-left {
  left: 100%;
}

/* line 962, ../sass/_custom.scss */
#frontpageCarousel .carousel-control .icon-next,
#frontpageCarousel .carousel-control .glyphicon-chevron-right {
  right: 50%;
}

@media only screen and (max-width: 768px) {
  /* line 968, ../sass/_custom.scss */
  #contentCarousel .carousel-control {
    top: 60%;
  }
}

/* line 974, ../sass/_custom.scss */
.glyphicon-chevron-left {
  background: url("../img/slider-icons.png") no-repeat 0px -32px;
  left: 5px;
}
/* line 977, ../sass/_custom.scss */
.glyphicon-chevron-left:hover, .glyphicon-chevron-left:focus {
  background-position: -16px -32px;
}
/* line 981, ../sass/_custom.scss */
.lt-ie9 .glyphicon-chevron-left {
  width: 16px !important;
}

/* line 986, ../sass/_custom.scss */
.glyphicon-chevron-right {
  background: url("../img/slider-icons.png") no-repeat 0px -16px;
  right: 5px;
}
/* line 989, ../sass/_custom.scss */
.glyphicon-chevron-right:hover, .glyphicon-chevron-right:focus {
  background-position: -16px -16px;
}
/* line 992, ../sass/_custom.scss */
.lt-ie9 .glyphicon-chevron-right {
  width: 16px !important;
  height: 16px !important;
}

/* line 999, ../sass/_custom.scss */
.lt-ie10 .carousel-control, .lt-ie9 .carousel-control {
  filter: none;
}

/* line 1012, ../sass/_custom.scss */
div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image {
  margin-bottom: 0;
}

/* line 1016, ../sass/_custom.scss */
#productCarousel {
  margin-top: 10px;
}

/* line 1020, ../sass/_custom.scss */
#productCarousel .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding-top: 6px;
  padding-top: 0.6rem;
  padding-right: 10px;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-left: 1rem;
}
/* line 1033, ../sass/_custom.scss */
#productCarousel .carousel-caption h1 {
  font-size: 18px;
  font-size: 1.8rem;
  display: none;
}

@media only screen and (max-width: 991px) {
  /* line 1042, ../sass/_custom.scss */
  #productCarousel .carousel-wrapper {
    width: 100%;
  }
  /* line 1044, ../sass/_custom.scss */
  #productCarousel .carousel-wrapper .carousel-inner img {
    display: table;
    margin: 0 auto;
  }
  /* line 1048, ../sass/_custom.scss */
  #productCarousel .carousel-wrapper .carousel-caption {
    display: table;
    margin: 0 auto;
    max-width: 441px;
  }
}
/* line 1057, ../sass/_custom.scss */
#productCarousel .carousel-indicators {
  margin-left: -29%;
  bottom: -8px;
}

/* line 1067, ../sass/_custom.scss */
.carousel-indicators {
  z-index: 9 !important;
}

/* line 1071, ../sass/_custom.scss */
#frontpageCarousel .carousel-indicators {
  margin-bottom: 2px;
  text-align: right;
  left: 37%;
}
@media only screen and (max-width: 991px) {
  /* line 1071, ../sass/_custom.scss */
  #frontpageCarousel .carousel-indicators {
    text-align: right;
    left: 67%;
    top: 93%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 1071, ../sass/_custom.scss */
  #frontpageCarousel .carousel-indicators {
    left: 65%;
    top: 90%;
  }
}

@media only screen and (min-width: 992px) {
  /* line 1088, ../sass/_custom.scss */
  #productCarousel .carousel-control .glyphicon-chevron-left {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1093, ../sass/_custom.scss */
  #productCarousel .carousel-control .glyphicon-chevron-left,
  #productCarousel .carousel-control .glyphicon-chevron-right,
  #productCarousel .carousel-control .icon-prev,
  #productCarousel .carousel-control .icon-next {
    top: 94%;
  }
}
@media only screen and (max-width: 320px) {
  /* line 1101, ../sass/_custom.scss */
  #productCarousel .carousel-control .glyphicon-chevron-left,
  #productCarousel .carousel-control .glyphicon-chevron-right,
  #productCarousel .carousel-control .icon-prev,
  #productCarousel .carousel-control .icon-next {
    top: 90.5%;
  }
}

@media only screen and (min-width: 551px) and (max-width: 992px) {
  /* line 1110, ../sass/_custom.scss */
  #contentCarousel {
    width: 441px;
  }
  /* line 1113, ../sass/_custom.scss */
  #contentCarousel .carousel-indicators {
    bottom: 0;
  }
}

/* line 1120, ../sass/_custom.scss */
.carousel-indicators li {
  border: 0;
  border-radius: 0;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  padding: 0;
  background: url("../img/slider-icons.png") no-repeat 0px 0px;
}
/* line 1128, ../sass/_custom.scss */
.carousel-indicators li.active {
  background-position: -16px 0;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  padding: 0;
}

/* line 1138, ../sass/_custom.scss */
.lt-ie9 #contentCarousel .carousel-indicators {
  bottom: 0;
}

/* line 1152, ../sass/_custom.scss */
.carousel-caption h1 {
  font-size: 30px;
  font-size: 3rem;
}

/* line 1158, ../sass/_custom.scss */
.btn-danger {
  border: 1px solid #900;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c50000), color-stop(100%, #930000));
  background-image: -moz-linear-gradient(#c50000, #930000);
  background-image: -webkit-linear-gradient(#c50000, #930000);
  background-image: linear-gradient(#c50000, #930000);
}
/* line 1161, ../sass/_custom.scss */
.btn-danger:active, .btn-danger.active, .btn-danger:hover, .btn-danger:focus {
  background-color: #890000;
}

/* line 1167, ../sass/_custom.scss */
.btn-lg,
.btn-group-lg > .btn {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 20px;
  padding: 3px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 1184, ../sass/_custom.scss */
.news-list-date {
  display: none;
}

/* line 1192, ../sass/_custom.scss */
.news .article .col-media {
  padding-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  /* line 1192, ../sass/_custom.scss */
  .news .article .col-media {
    width: 100% !important;
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* line 1200, ../sass/_custom.scss */
  .news-single .article .news-img-wrap img {
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  /* line 1206, ../sass/_custom.scss */
  .news-single .article .col-content {
    width: 100% !important;
  }
}

/* line 1213, ../sass/_custom.scss */
.news .news-list-view .article:nth-child(1) {
  border-bottom: 0;
  padding-bottom: 0;
}

/* line 1218, ../sass/_custom.scss */
.news .news-list-view .article:nth-child(2) {
  border-top: 1px solid #C2C2C2;
  padding-top: 15px;
}

/* line 1226, ../sass/_custom.scss */
.page-navigation > p {
  display: none;
}

/* line 1232, ../sass/_custom.scss */
.lt-ie9 #pid-48 .news-single .article .col-content {
  width: 499px !important;
}

/* line 1240, ../sass/_custom.scss */
.csc-mailform form {
  margin-bottom: 20px;
}
/* line 1242, ../sass/_custom.scss */
.csc-mailform form li.csc-form-element-textline,
.csc-mailform form li.csc-form-element-textarea {
  position: relative;
  margin: 10px 0;
}
/* line 1245, ../sass/_custom.scss */
.csc-mailform form li.csc-form-element-textline label,
.csc-mailform form li.csc-form-element-textarea label {
  position: absolute;
  top: 6px;
  left: 10px;
  cursor: text;
}

/* line 1251, ../sass/_custom.scss */
.csc-form-element-textline input,
.csc-form-22 textarea {
  -moz-box-shadow: inset 0px 1px 2px 0 #C2C2C2;
  -webkit-box-shadow: inset 0px 1px 2px 0 #C2C2C2;
  box-shadow: inset 0px 1px 2px 0 #C2C2C2;
  background-image: url('../img/stripes.png?1401811042');
  background-repeat: repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none !important;
}

/* line 1260, ../sass/_custom.scss */
.csc-mailform li input[type="text"] {
  height: 32px;
  padding-left: 10px;
  padding-left: 1rem;
  height: 3.2rem;
}

/* line 1267, ../sass/_custom.scss */
.csc-mailform label {
  font-weight: 300;
}
/* line 1269, ../sass/_custom.scss */
.csc-mailform label em {
  display: inline-block;
  color: #990000;
}
/* line 1273, ../sass/_custom.scss */
.csc-mailform label strong {
  margin-top: -22px;
  margin-left: -4px;
  line-height: 1;
  border: 2px solid #990000;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

/* line 1284, ../sass/_custom.scss */
.csc-form-2 {
  margin-top: 20px !important;
  border-bottom: 1px solid #C2C2C2;
  padding-bottom: 6px !important;
  margin-bottom: 16px !important;
}
/* line 1286, ../sass/_custom.scss */
.csc-form-2 select {
  width: 409px !important;
  height: 32px;
  height: 3.2rem;
  padding-top: 5px !important;
  background-color: transparent;
  background-image: url('../img/stripes.png?1401811042');
  background-repeat: repeat;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media only screen and (max-width: 767.99px) {
  /* line 1286, ../sass/_custom.scss */
  .csc-form-2 select {
    width: 100% !important;
  }
}

/* line 1304, ../sass/_custom.scss */
.csc-form-12, .csc-form-13 {
  float: left;
  list-style-type: none !important;
  list-style: none !important;
}

/* line 1311, ../sass/_custom.scss */
.csc-form-12 {
  margin-right: 10px !important;
}

/* line 1316, ../sass/_custom.scss */
.csc-form-12 label, .csc-form-12 input, .csc-form-13 label, .csc-form-13 input {
  width: 15px !important;
}
/* line 1319, ../sass/_custom.scss */
.csc-form-12 label, .csc-form-13 label {
  float: right !important;
}
/* line 1322, ../sass/_custom.scss */
.csc-form-12 input, .csc-form-13 input {
  float: left !important;
  margin-right: 8px;
}

/* line 1329, ../sass/_custom.scss */
.csc-form-14, .csc-form-15,
.csc-form-16, .csc-form-17,
.csc-form-20, .csc-form-21 {
  float: left;
}
@media only screen and (max-width: 767.99px) {
  /* line 1329, ../sass/_custom.scss */
  .csc-form-14, .csc-form-15,
  .csc-form-16, .csc-form-17,
  .csc-form-20, .csc-form-21 {
    float: none;
  }
}
/* line 1336, ../sass/_custom.scss */
.csc-form-14 input, .csc-form-15 input,
.csc-form-16 input, .csc-form-17 input,
.csc-form-20 input, .csc-form-21 input {
  width: 200px !important;
}
@media only screen and (max-width: 767.99px) {
  /* line 1336, ../sass/_custom.scss */
  .csc-form-14 input, .csc-form-15 input,
  .csc-form-16 input, .csc-form-17 input,
  .csc-form-20 input, .csc-form-21 input {
    width: 100% !important;
  }
}

/* line 1344, ../sass/_custom.scss */
.csc-form-14, .csc-form-16, .csc-form-20 {
  margin-right: 6px !important;
}
@media only screen and (max-width: 767.99px) {
  /* line 1344, ../sass/_custom.scss */
  .csc-form-14, .csc-form-16, .csc-form-20 {
    margin-right: 0 !important;
  }
}

/* line 1351, ../sass/_custom.scss */
.csc-form-14,
.csc-form-16, .csc-form-18,
.csc-form-22 {
  clear: left;
}

/* line 1359, ../sass/_custom.scss */
.csc-form-18 input, .csc-form-19 input,
.csc-form-22 input {
  width: 409px !important;
}
@media only screen and (max-width: 767.99px) {
  /* line 1359, ../sass/_custom.scss */
  .csc-form-18 input, .csc-form-19 input,
  .csc-form-22 input {
    width: 100% !important;
  }
}

/* line 1367, ../sass/_custom.scss */
.csc-form-22 {
  border-top: 1px solid #C2C2C2;
  padding-top: 16px !important;
  margin-top: 16px !important;
}
/* line 1371, ../sass/_custom.scss */
.csc-form-22 textarea {
  width: 409px !important;
  padding: 10px 0 0 10px;
  padding: 1rem 0 0 1rem;
}
@media only screen and (max-width: 767.99px) {
  /* line 1371, ../sass/_custom.scss */
  .csc-form-22 textarea {
    width: 100% !important;
  }
}

/* line 1382, ../sass/_custom.scss */
li.csc-form-element-textarea label {
  top: 22px !important;
}

/* line 1387, ../sass/_custom.scss */
.csc-mailform input[type="submit"] {
  padding: 4px 24px;
  line-height: 1;
  color: white;
  background-color: #990000;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #660000;
  text-transform: uppercase;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #900;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1MDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c50000), color-stop(100%, #930000));
  background-image: -moz-linear-gradient(#c50000, #930000);
  background-image: -webkit-linear-gradient(#c50000, #930000);
  background-image: linear-gradient(#c50000, #930000);
  float: right;
}
/* line 1400, ../sass/_custom.scss */
.csc-mailform input[type="submit"]:hover, .csc-mailform input[type="submit"]:focus {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg5MDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #600000), color-stop(100%, #890000));
  background-image: -moz-linear-gradient(#600000, #890000);
  background-image: -webkit-linear-gradient(#600000, #890000);
  background-image: linear-gradient(#600000, #890000);
}

/* line 1409, ../sass/_custom.scss */
.lt-ie9 .csc-mailform li.csc-form-element-textline {
  border: 1px solid #C2C2C2;
}
/* line 1412, ../sass/_custom.scss */
.lt-ie9 .csc-mailform li.csc-form-element-textline {
  width: 199px;
}
/* line 1416, ../sass/_custom.scss */
.lt-ie9 .csc-mailform li.csc-form-element-textarea textarea {
  border: 1px solid #C2C2C2 !important;
}

/**** New Contact Form "Powermail" ****/
/* line 1428, ../sass/_custom.scss */
.tx-powermail {
  width: auto !important;
}

/* line 1432, ../sass/_custom.scss */
.powermail_fieldset {
  background: none !important;
  border: 0px !important;
}

/* line 1437, ../sass/_custom.scss */
.powermail_fieldset_1 .powermail_legend {
  display: none !important;
}

/* line 1441, ../sass/_custom.scss */
.powermail_label {
  font-weight: 300;
  color: #000;
  float: left;
  width: 13em;
  margin-right: 1em;
  vertical-align: baseline;
}

/* line 1450, ../sass/_custom.scss */
.powermail_form_1 h3 {
  display: none;
}

/* line 1454, ../sass/_custom.scss */
.powermail_select {
  width: 100% !important;
  height: 32px;
  height: 3.2rem;
  padding-top: 5px !important;
  background-color: transparent;
  background-image: url("../img/stripes.png?1401811042");
  background-repeat: repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 1469, ../sass/_custom.scss */
.powermail_check_legend,
.powermail_radio_legend {
  display: none;
}

/* line 1474, ../sass/_custom.scss */
#powermail_fieldwrap_1 {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 6px;
  margin-bottom: 16px;
}

/* line 1480, ../sass/_custom.scss */
.powermail_check_inner label,
.powermail_radio_inner label {
  font-weight: normal;
}

/* line 1485, ../sass/_custom.scss */
.powermail_check_inner,
.powermail_radio_inner {
  float: left;
  margin-right: 10px;
}

/* line 1491, ../sass/_custom.scss */
.powermail_fieldwrap_input .powermail_label,
.powermail_fieldwrap_textarea .powermail_label {
  position: absolute;
  top: 6px;
  left: 10px;
  cursor: text;
}

/* line 1499, ../sass/_custom.scss */
.powermail_fieldwrap_input,
.powermail_fieldwrap_textarea {
  position: relative;
  margin: 2% 0;
  width: 50%;
  float: left;
}
@media all and (max-width: 568px) {
  /* line 1499, ../sass/_custom.scss */
  .powermail_fieldwrap_input,
  .powermail_fieldwrap_textarea {
    width: 100%;
  }
}

/* line 1510, ../sass/_custom.scss */
.powermail_fieldwrap_textarea {
  width: 100%;
}

/* line 1514, ../sass/_custom.scss */
.powermail_fieldwrap_input input {
  height: 32px;
  padding-left: 10px;
  padding-left: 1rem;
  height: 3.2rem;
  -webkit-box-shadow: inset 0px 1px 2px 0 #c2c2c2;
  -moz-box-shadow: inset 0px 1px 2px 0 #c2c2c2;
  box-shadow: inset 0px 1px 2px 0 #c2c2c2;
  background-image: url("../img/stripes.png?1401811042");
  background-repeat: repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none !important;
  width: 99%;
}

/* line 1533, ../sass/_custom.scss */
#powermail_fieldwrap_11, #powermail_fieldwrap_12 {
  width: 100%;
}

/* line 1537, ../sass/_custom.scss */
.mandatory {
  color: #990000;
}

/* line 1541, ../sass/_custom.scss */
.powermail_submit {
  padding: 4px 24px;
  line-height: 1;
  color: white;
  background-color: #990000;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px;
  border: 1px solid #660000;
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #900;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c50000), color-stop(100%, #930000));
  background-image: -webkit-linear-gradient(#c50000, #930000);
  background-image: -moz-linear-gradient(#c50000, #930000);
  background-image: -o-linear-gradient(#c50000, #930000);
  background-image: linear-gradient(#c50000, #930000);
  float: right;
}

/* line 1565, ../sass/_custom.scss */
.powermail_textarea {
  padding: 1rem 0 0 1rem;
  width: 99%;
  -webkit-box-shadow: inset 0px 1px 2px 0 #c2c2c2;
  -moz-box-shadow: inset 0px 1px 2px 0 #c2c2c2;
  box-shadow: inset 0px 1px 2px 0 #c2c2c2;
  background-image: url("../img/stripes.png?1401811042");
  background-repeat: repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none !important;
}

/* line 1581, ../sass/_custom.scss */
.formError {
  opacity: 0.87;
  position: absolute;
  top: 0px;
  left: 50% !important;
  z-index: 990;
  margin-left: -75px;
  margin-top: -35px;
}

/* line 1591, ../sass/_custom.scss */
.formError .formErrorContent {
  width: 100%;
  position: relative;
  color: #fff;
  width: 150px;
  font-size: 11px;
  border: 0px solid #ddd;
  padding: 4px 10px 4px 10px;
  background: #900;
}

/* line 1602, ../sass/_custom.scss */
.formError .formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  position: relative;
}

/* line 1607, ../sass/_custom.scss */
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
  margin: -2px 13px 0 0;
}

/* line 1611, ../sass/_custom.scss */
.formError .formErrorArrowBottom {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0px 0 0 12px;
  top: 2px;
}

/* line 1618, ../sass/_custom.scss */
.formError .formErrorArrow div {
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  font-size: 0px;
  height: 1px;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
  background: #900;
  /* Old browsers */
}

/* line 1629, ../sass/_custom.scss */
.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 1634, ../sass/_custom.scss */
.greenPopup .formErrorArrow div {
  background: #900;
}

/* line 1637, ../sass/_custom.scss */
.blackPopup .formErrorArrow div {
  background: #900;
  color: #FFF;
}

/* line 1641, ../sass/_custom.scss */
.formError .formErrorArrow .line10 {
  width: 15px;
  border: none;
}

/* line 1645, ../sass/_custom.scss */
.formError .formErrorArrow .line9 {
  width: 13px;
  border: none;
}

/* line 1649, ../sass/_custom.scss */
.formError .formErrorArrow .line8 {
  width: 11px;
}

/* line 1652, ../sass/_custom.scss */
.formError .formErrorArrow .line7 {
  width: 9px;
}

/* line 1655, ../sass/_custom.scss */
.formError .formErrorArrow .line6 {
  width: 7px;
}

/* line 1658, ../sass/_custom.scss */
.formError .formErrorArrow .line5 {
  width: 5px;
}

/* line 1661, ../sass/_custom.scss */
.formError .formErrorArrow .line4 {
  width: 3px;
}

/* line 1664, ../sass/_custom.scss */
.formError .formErrorArrow .line3 {
  width: 1px;
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd;
  border-bottom: 0 solid #ddd;
}

/* line 1670, ../sass/_custom.scss */
.formError .formErrorArrow .line2 {
  width: 3px;
  border: none;
  background: #ddd;
}

/* line 1675, ../sass/_custom.scss */
.formError .formErrorArrow .line1 {
  width: 1px;
  border: none;
  background: #ddd;
}

/**************************************/
/* line 1686, ../sass/_custom.scss */
.lt-ie9 .powermail_fieldwrap_input,
.lt-ie9 .powermail_fieldwrap_textarea {
  border: 1px solid #C2C2C2;
}
/* line 1690, ../sass/_custom.scss */
.lt-ie9 .powermail_fieldwrap_6,
.lt-ie9 .powermail_fieldwrap_9,
.lt-ie9 .powermail_fieldwrap_13 {
  width: 49%;
  margin-right: 2%;
}
/* line 1697, ../sass/_custom.scss */
.lt-ie9 .powermail_fieldwrap_8,
.lt-ie9 .powermail_fieldwrap_10,
.lt-ie9 .powermail_fieldwrap_14 {
  width: 49%;
}

/* line 1711, ../sass/_custom.scss */
.contact-button {
  margin-top: 36px;
}

/* line 1720, ../sass/_custom.scss */
#content_main,
#content_right {
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  /* line 1727, ../sass/_custom.scss */
  .content-left-right-wrapper #content_right {
    border-left: 0;
  }
}
/* line 1734, ../sass/_custom.scss */
body#pid-50 .content-wrapper {
  min-height: 580px;
}
/* line 1736, ../sass/_custom.scss */
.lt-ie9 body#pid-50 .content-wrapper {
  min-height: 580px;
  height: auto !important;
  height: 580px;
}

/* line 1749, ../sass/_custom.scss */
body#pid-10 #content {
  min-height: 580px;
}
/* line 1751, ../sass/_custom.scss */
.lt-ie9 body#pid-10 #content {
  min-height: 580px;
  height: auto !important;
  height: 580px;
}

/* line 1758, ../sass/_custom.scss */
.tx-kesearch-pi1 .next,
.tx-kesearch-pi1 .prev {
  width: 16px !important;
  height: 16px !important;
  margin: 0 0 -3px !important;
}

/* line 1765, ../sass/_custom.scss */
.tx-kesearch-pi1 .next {
  background: url("../img/slider-icons.png") no-repeat scroll 0 -16px transparent;
}
/* line 1767, ../sass/_custom.scss */
.tx-kesearch-pi1 .next:hover, .tx-kesearch-pi1 .next:focus {
  background-position: -16px -16px;
  text-indent: -9999px;
}

/* line 1773, ../sass/_custom.scss */
.tx-kesearch-pi1 .prev {
  background: url("../img/slider-icons.png") no-repeat scroll 0 -32px transparent;
}
/* line 1775, ../sass/_custom.scss */
.tx-kesearch-pi1 .prev:hover, .tx-kesearch-pi1 .prev:focus {
  background-position: -16px -32px;
  text-indent: -9999px;
}

@media only screen and (max-width: 480px) {
  /* line 1781, ../sass/_custom.scss */
  body#pid-10 h2,
  body#pid-10 .search-result-url {
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 481px) {
  /* line 1791, ../sass/_custom.scss */
  body#pid-10 .content-wrapper input#kesearch_submit {
    left: 150px !important;
    top: 40px;
  }
}
/* line 1801, ../sass/_custom.scss */
#footer .footer-image {
  background-repeat: no-repeat;
  background-position: center 7px;
  height: 50px;
}
/* line 1808, ../sass/_custom.scss */
#footer .footer-content {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MyYzJjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c2c2c2), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(top, #c2c2c2, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #c2c2c2, #f0f0f0);
  background-image: linear-gradient(to bottom, #c2c2c2, #f0f0f0);
  background: -ms-linear-gradient(top, #C2C2C2, #F0F0F0) !important;
  width: 100%;
  box-shadow: 0px 500px 0px 500px #F0F0F0;
  /* Set the fixed height of the footer here */
  height: 281px;
  border-top: 3px solid #353535;
}
/* line 1816, ../sass/_custom.scss */
#footer .footer-content .row {
  margin-top: 12px;
  font-size: 12px;
  font-style: 1.2rem;
}
/* line 1820, ../sass/_custom.scss */
#footer .footer-content .row li a {
  line-height: auto;
  padding-top: 0;
  text-transform: none;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 1820, ../sass/_custom.scss */
  #footer .footer-content .row li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
/* line 1830, ../sass/_custom.scss */
#footer .footer-content .row li a:hover, #footer .footer-content .row li a:focus {
  background-color: transparent;
  color: #353535;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  /* line 1837, ../sass/_custom.scss */
  #footer .footer-content .row li:first-child a {
    padding-left: 0 !important;
  }
}
/* line 1841, ../sass/_custom.scss */
#footer .footer-content .row li:last-child a {
  padding-right: 0 !important;
}

@media only screen and (max-width: 991px) {
  /* line 1849, ../sass/_custom.scss */
  .footer-content .row li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

/* line 1858, ../sass/_custom.scss */
.footer-content .container {
  background-image: url("../img/bg-ornament-footer.png");
  background-repeat: no-repeat;
  background-position: 64px top;
  background-size: 654px 90px;
  height: 90px;
}
@media only screen and (min-width: 992px) {
  /* line 1858, ../sass/_custom.scss */
  .footer-content .container {
    width: 940px;
  }
}

/* line 1873, ../sass/_custom.scss */
.lt-ie9 .footer-content,
.lt-ie10 .footer-content {
  background-color: #F0F0F0;
}

/* line 1884, ../sass/_custom.scss */
.lt-ie9 body#pid-1 .footer-content {
  height: 485px;
}

/* line 1888, ../sass/_custom.scss */
.lt-ie9 #footer .footer-content .row li a {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
/* line 1891, ../sass/_custom.scss */
.lt-ie9 #footer .footer-content .row li a:hover, .lt-ie9 #footer .footer-content .row li a:focus {
  background-color: transparent !important;
  background: transparent !important;
  color: #353535;
  text-decoration: underline;
}
