
/* Full width submenu as on anton-paar.com */
/* Doesn't work on mobile devices */

/*@media only screen and (min-width: 769px) {
	.open {
	position: static !important;
	float: left !important;
	}
	.open > .dropdown-menu {
		background-color: #353535;
		color: #e6e6e6;
		float: left;
		width: 100%;
	}

	.open > .dropdown-menu li a {
		color: white;
	}
}*/




html {
// Sticky footer styles: 2 lines
	// position: relative;
 //  min-height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	min-height: 0;
	background-image: image-url('stripes.png');
	background-repeat: repeat;
// Sticky footer styles
// Margin bottom by footer height
  // margin-bottom: 377px;
}

//===========================================================
// Headings
//===========================================================

h1, h2, h3, h4, h5, h6 {
	color: $color1;
}

h1 {
	font-size: 26px;
	font-size: 2.5rem;
}

h2 {
	font-size: 20px;
	font-size: 2rem;
}

h3, h4, h5, h6 {
	font-size: 16px;
	font-size: 1.6rem;
}

iframe {
	width: 100%;
}

//===========================================================
// Links
//===========================================================

h2,
.bodytext,
ul li,
.search-result-url,
.kesearch_pagebrowser {
	a {
	color: $color2;
	&:hover, &:focus {
		color: $color2;
		}
	&:visited {
		color: ligthen($color2, 5%);
	}
	}
}

.bodytext,
.search-result-url {
	a {
		text-decoration: underline !important;
		&:hover, &:focus {
			text-decoration: none !important;
		}
	}
}

.hit {
	// color: $color1 !important;
}

/* =========================================================== */
/* Header > Logo Section */
/* =========================================================== */


.section-header {
	background: url(../img/bg-header-repeat.gif) repeat scroll;
	position: relative;
	z-index: 9999;
}

.section-header .container {
	background: url(../img/bg-header-960.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 90px;
	@media only screen and (min-width: 992px) {
		width: 940px
	}
}

.logobar {
	float: left;
	margin: 0;
	@media only screen and (max-width: 767px) {
		width: 210px;
	}
	@media only screen and (max-width: 419px) {
		width: 180px;
	}
}

.header-right {
	float: right;

}

.logo img {
/*	height: 60px;
	width: 191px;
*/
width: 100%;
height: auto;
@media only screen and (min-width: 321px) and (max-width: 767px) {
	width: 350px;
	}
@media only screen and (max-width: 320px) {
	width: 250px;
}
}




//===========================================================
// SEARCH

.header-right {
	position: relative;
	width: 240px !important;
}

.navbar-toggle {
	float: left;
	margin-left: 15px; 
}

.searchform {
	margin-top: 55px;
	@include MQ(S) {
		width: 180px;
		float: right;
	}
	@media only screen and (max-width: 480px) {
		margin-top: 0;
	}
	input {
		@include MQ(S) {
			width: 118px;
		}
	}
}

.search-visible {
	text-align: right;
}

.search-text {
	color: white;
}

.search-button {
	color: #c2c2c2;
	background-image: url(../img/lupe.png);
	background-color: transparent;
	background-repeat: no-repeat;
	height: 17px;
	width: 100px;
	box-shadow: none;
	border: none;
	background-position: center right;
}


.search-toggle {
	margin-top: 16px;
	padding: 15px;
	background-color: #666;
	position: absolute;
	width: 240px;
	button {
		background-color: $color3;
		}
	// Targeting iPad only
	@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {
		width: 260px; 
	}
	@include MQ(S) {
		padding: 6px;
		width: 180px;
		margin-top: 22px;
	}
}

.lt-ie9,
.lt-ie10 {
	body {
		// z-index: 100;
	}
	.section-header {
		// position: relative;
		// z-index: 2000;
	}
	.navbar {
		// z-index: 200;
	}
	.header-right {
		position: relative;
		width: 240px;
	}
	.search-toggle {
		position: fixed;
		z-index: 3000;
		width: 240px;
		// left: 700px;
		
	}
}


//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// END HEADER




//===========================================================
// NAVIGATION
//===========================================================


/* Background Image for navbar */

//===========================================================
// 769px specific BEGIN


@media only screen and (min-width: 768px) {
	.navbar-static-top {
		margin-bottom: 0 !important;
	}
	.navbar {
		position: relative;
		z-index: 10;
		// background-image: url(../img/bg-topnavi.png);
		background-image: none;
		box-shadow: none;
		background-color: $color3 !important;
		height: 42px;
		min-height: 42px;
		border-top: 1px solid #FFFFFF;
		background-repeat: repeat-x;
		.container {
			@media only screen and (min-width: 992px) {
				width: 940px;
			}
		}
		li {
			border-left: 1px solid $color2;
			height: 40px;
			&:last-child {
				border-right: 1px solid $color2;
			}
			&.active {
				border: none;
			}
			ul li {
				border: none;
				&:last-child {
					border: none;
				}
			}
		}
	}

	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		background-color: $color2 !important;
		height: 40px;
	}

	.navbar-nav {
		> li {
			> a {
				padding-left: 16px;
				padding-right: 16px;
				@media only screen and (min-width: 768px) and (max-width: 991px) {
					padding-left: 15px;
					padding-right: 15px;
				}
				@media only screen and (min-width: 992px) {
				padding-right: 31px !important;
				padding-left: 32px !important;
				}
			}
		}
	}
	
	.navbar-nav {
		> li,
		> li.active {
			a {
					padding-top: 10px;
					padding-bottom: 0;
					background-image: none;
					box-shadow: none;
					// background-color: transparent;
					background-image: none !important;
					text-transform: uppercase;
			}
		}
		li>a {
			color: $color2 !important;
		}
		li.dropdown.active>a,
		li.active>a{
			color: white !important;
		}
	}

	.navbar-static-top {
		> li:hover,
		> li.active {
			height: 40px;
			min-height: 40px;
			background-color: $color2 !important;
			> a {
				color: white !important;
				background-image: none;
				// background-color: $color2 !important;
			}
		}
	}
	.navbar-nav .open {
			background-color: lighten($color2, 10%) !important;
			> a {
				background-color: lighten($color2, 10%) !important;
				color: white !important;
			}
		ul.dropdown-menu {
			background-color: lighten($color2, 10%);
			li a {
			background-color: lighten($color2, 10%);
			color: white;
			}
		}
		ul.dropdown-menu li.active a {
			background-color: $color3;
		}
	}
	
	.navbar-toggle {
		margin-top: 7px;
		background-color: $color4 !important;
	}
} // 769 specific END

// END 769px specific
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

//===========================================================
// IE 8 STYLES FOR NAVBAR

.lt-ie9 .navbar .container {
	width: 940px;
}


.lt-ie9 {
	.navbar-static-top {
		position: relative;
		z-index: 10;
		// background-image: url(../img/bg-topnavi.png);
		background-image: none;
		box-shadow: none;
		background-color: $color3 !important;
		height: 42px;
		min-height: 42px;
		border-top: 1px solid #FFFFFF;
		background-repeat: repeat-x;
		.container {
			@media only screen and (min-width: 992px) {
				width: 940px;
			}
		}
		li {
			border-left: 1px solid $color2;
			height: 41px;
			&:last-child {
				border-right: 1px solid $color2;
			}
			&.active {
				border: none;
			}
			ul li {
				border: none;
				&:last-child {
					border: none;
				}
			}
		}
	}

	.navbar-static-top .navbar-nav > .active > a, 
	.navbar-static-top .navbar-nav > .active > a:hover, 
	.navbar-static-top .navbar-nav > .active > a:focus {
		// background-color: $color2 !important;
		height: 40px;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);
	}

	.dropdown-menu > .active > a {
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2C2C2', endColorstr='#C2C2C2', GradientType=0);
				padding-top: 8px;
				padding-bottom: 16px !important;
	}
	.dropdown-menu > li > a {
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);
	}
	
	.navbar-nav {
		> li,
		> li.active {
			a {
					padding-top: 10px;
					padding-bottom: 0;
					background-image: none;
					box-shadow: none;
					background-color: transparent;
					background-image: none !important;
					text-transform: uppercase;
				}
			}
		li>a {
			color: $color2 !important;
		}
		li.dropdown.active>a{
			color: white !important;
		}
	}

	.navbar-static-top  ul.nav {
		li.active,
		li:hover {
			height: 41px;
			background-color: $color2 !important;
			a {
				color: white !important;
				// background-color: $color2 !important;
			}
		}
	}
	
	.navbar-nav .open {
			background: lighten($color2, 10%) !important;
			> a {
			background-color: lighten($color2, 10%) !important;
			color: white !important;
			}
	
		ul.dropdown-menu li a {
			background-color: lighten($color2, 10%);
			color: white;
		}
		ul.dropdown-menu li.active a {
			background-color: $color3;
		}
	}
	
	.navbar-toggle {
		margin-top: 7px;
		background-color: $color4 !important;
	}
} // lt-ie9 END

.lt-ie10 .navbar-nav>li.active>a {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);
}

.lt-ie10 {
		.dropdown-menu > .active > a {
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2C2C2', endColorstr='#C2C2C2', GradientType=0);
				padding-top: 8px;
				padding-bottom: 8px !important;
		}
		.dropdown-menu > li:hover > a,
		.dropdown-menu > li:focus > a {
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#353535', GradientType=0);

		}
}

// END IE 8 STYLES FOR NAVBAR
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

//===========================================================
// Navbar MOBILE
//===========================================================
/* Mobile */
	@media only screen and (max-width: 767px) { 
	.navbar,
	.navbar-default .navbar-nav > .active > a {
		background-color: $color3 !important;
		background-image: none;
	}
	.navbar-toggle {
		margin-top: 7px;
		background-color: $color4 !important;
	}
	.navbar-collapse {
		background-color: $color2 !important;
		.open {
			border-bottom: 1px solid white;
		}
	}

	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		color: white;
	}

	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		color: $color2;
	}
}




//===========================================================
// Submenu

.dropdown-menu {
	background-color: $color2;
	box-shadow: none;
	border: none;
	// left: -1px;
	li {
		a {
		color: white !important;
		&:hover {
			text-decoration: underline;
			color: white !important;
			background-color: transparent;
		}
		}
	}
}

.dropdown-menu > .active,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
	background-color: $color3 !important;
	background-image: none !important;
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// END NAVBAR




//===========================================================
// CONTENT GENERAL
//===========================================================

.content-container {
	@media only screen and (min-width: 992px) {
  	width: 940px;
  }
	// min-height: 500px; // remove on live site
}

.lt-ie9 .container {
	width: 940px;
}

.content-wrapper {
	border: 1px solid $color3;
	// box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
	background-color: white;
	&:after, &:before {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

#content_top {
	padding-left: 30px;
	padding-right: 30px;
	p {
	border-bottom: 1px solid $color3;
	padding-bottom: 16px !important;
	margin-bottom: 16px !important;
	}
}

.content-left-right-wrapper {
	#content_right {
		border-left: 1px solid $color3;
		@media only screen
		and (max-width: 568px) {
			border-left: 0;
		}
		margin-bottom: 20px;
		h1 {
			// margin-top: 0 !important;
		}
	}
}

#leftContentWrapper #content_image,
#content_left {
	.csc-textpic {
	margin-top: 20px;
	margin-top: 2rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	}
}

// margin to bottom of container

.csc-default {
// margin to bottom of container
	&:last-child {
	margin-bottom: 30px;
	margin-bottom: 3rem;
	p {
		.btn {
			margin-top: 10px;
			margin-top: 1rem;
		}
		}
	}
}


//===========================================================
// Breadcrumb

.breadcrumb {
	background-color: transparent;
	padding: 0;
	margin: 16px 0;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 15px;
	z-index: 10;

a {
			color: $color2;
			&:after {
				// content: " / ";
			}
			&:hover {
				text-decoration: underline;
			}
		}


	span {
		background: none !important;
		padding: 0 !important;
		a {
			color: $color2;
			&:after {
				content: " / ";
			}
			&:hover {
				text-decoration: underline;
			}
		}
		&.active {
			a {
				text-decoration: underline;
				&:after {
				content: " ";
				}
			}
		}
	}
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// END BREADCRUMB




//===========================================================
// Slider Frontpage


// change slider speed

#frontpageCarousel .carousel-inner > .item {
}

@media only screen and (min-width: 992px) {
	#frontpageCarousel .carousel-caption {
	    left: 520px; // 540px; //50%;
	    padding-top: 20px; // 63px; // 20px;
	    padding-bottom: 30px;
	    padding-left: 20px;
	    width: 356px; // 330px; // 50%;
	    // position: absolute;
	    text-align: left;
	    // z-index: 10;

	}
	.carousel-caption {
	    // bottom: 20px;
	    // color: #FFFFFF;
	    // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	    h1 {
	    	margin-top: 0;
	    	margin-bottom: 20px;
	    	margin-bottom: 2rem;
	    }
	}
	
	.carousel-indicators {
		bottom: 0;
	}

	#frontpageCarousel .carousel-indicators {
		left: 60%;
		margin-left: 0;
	}
}

// Carousel indicators for IE 8
.lt-ie9 	#frontpageCarousel .carousel-indicators {
		left: 37%;
		margin-left: 0;
		top: 365px;
	}

.lt-ie9 #frontpageCarousel .carousel-caption {
	left: 520px;
	width: 356px;
	padding-top: 20px; // 63px; // 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	text-align: left;
}

.lt-ie9 #frontpageCarousel .carousel-caption,
.lt-ie9 #productCarousel .carousel-caption
 {
		background: url('../img/slider-bg.png') repeat;
}

.lt-ie9 {
	.btn-danger {
		background-color: $color1;
	}
}

@media only screen and (max-width: 600px) {
	#frontpageCarousel .carousel-caption {
		top: 0;
	}
}

// .carousel,
#frontpageCarousel {
	border: 1px solid $color3;
}

.carousel-inner {
	position: relative;
	z-index: 1;
	img {
		z-index: 1;
	}
}

.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    h1 {
    	color: #FFFFFF;
    }
}

#frontpageCarousel .carousel-wrapper {
	padding: 15px;
}

#contentCarousel .carousel-wrapper {
	padding: 15px 15px 15px 0;
}

// Slider navigation at the bottom of the frontpage slider
.slider-navi {
	height: 30px;
	&:before, &:after {
		conten: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

#frontpageCarousel .slider-navi {
	background: $color4;
	border-top: 1px solid lighten($color3, 10%);
}

// removing the background for the carousel controls
.carousel-control {
	#frontpageCarousel & {
			width: 20px;
	}
	&.left, &.right {
		background-image: none;
	}
}

// BEGIN
@media only screen and (max-width: 568px) {
	#frontpageCarousel .item {
		min-height: 220px;
		> img {
			// display: none;
		}
	}
	#frontpageCarousel {
		.carousel-caption {
			min-height: 320px !important;
			padding-top: 0;
			left: 0;
			right: 0;
		}
		.carousel-indicators {
			top: 92% !important;
			left: 62% !important;
		}
		.carousel-control.left,
		.carousel-control.right {
			top: 21%;
		}
	}
}
// END

@media only screen and (max-width: 320px) {
	#frontpageCarousel {
		.carousel-caption h1 {
			font-size: 20px;
			font-size: 2rem;
		}
	}
}

//===========================================================
// BEGIN styling the left and right navigation

.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
	content: none !important;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	width: 16px;
	height: 16px;
	top: 98%;
		@include MQ(S) {
		top: 93%;
	}
	#contentCarousel & {
		margin-top: -22px;
	}
	@media only screen and (max-width: 600px) {
		top: 90%;
	}
}	

#frontpageCarousel .carousel-control .icon-prev, 
#frontpageCarousel .carousel-control .glyphicon-chevron-left {
	left: 100%;
}

#frontpageCarousel .carousel-control .icon-next, 
#frontpageCarousel .carousel-control .glyphicon-chevron-right {
	// right: 100%;
	right: 50%;
}

#contentCarousel .carousel-control {
	@media only screen and (max-width: 768px) {
		top: 60%;
	}
}

.glyphicon-chevron-left {
	background: url('../img/slider-icons.png') no-repeat 0px -32px;
	left: 5px;
	&:hover, &:focus {
		// background: url('../img/slider-icons.png') no-repeat -16px -16px;
		background-position: -16px -32px;
	}
	.lt-ie9 & {
		width: 16px !important;
	}
}

.glyphicon-chevron-right {
	background: url('../img/slider-icons.png') no-repeat 0px -16px;
	right: 5px;
	&:hover, &:focus {
		background-position: -16px -16px;
	}
	.lt-ie9 & {
		width: 16px !important;
		height: 16px !important;
	}
}

.lt-ie10, .lt-ie9 {
	.carousel-control {
		filter: none;
	}
}

// END styling the left and right navigation
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


//===========================================================
// ProductCarousel

#productCarousel .carousel-caption {
	left: 0;
	right: 0;
	bottom: 0;
	text-align: left;
	padding-top: 6px;
	padding-top: 0.6rem;
	padding-right: 10px;
	padding-right: 1rem;
	padding-bottom: 0; // 10px !important;
	padding-bottom: 0; // 1rem !important;
	padding-left: 10px;
	padding-left: 1rem;
	h1 {
		font-size: 18px;
		font-size: 1.8rem;
		display: none; // Hide title field; if a title is needed it will be applied in the body text with a h1 tag
	}
}

@media only screen and (max-width: 991px) {
	#productCarousel {
		.carousel-wrapper {
		width: 100%;
			.carousel-inner img {
				display: table;
				margin: 0 auto;
			}
			.carousel-caption {
				display: table;
				margin: 0 auto;
				max-width: 441px;
			}
		}
	}
}

#productCarousel .carousel-indicators {
	margin-left: -29%;
	bottom: -8px;
}



//===========================================================
// BEGIN styling the carousel indicators

.carousel-indicators {
	z-index: 9 !important;
}

#frontpageCarousel .carousel-indicators {
	margin-bottom: 2px;
	text-align: right;
	left: 37%;
	@media only screen and (max-width: 991px) {
		text-align: right;
		left: 67%;
		top: 93%;
	}
	@media only screen and (max-width: 600px) {
		left: 65%;
		top: 90%;
	}
}

#productCarousel {
	@media only screen and (min-width: 992px) {
		.carousel-control .glyphicon-chevron-left {
			margin-left: 0;
		}
	}
	@media only screen and (max-width: 767px) {
		.carousel-control .glyphicon-chevron-left, 
		.carousel-control .glyphicon-chevron-right, 
		.carousel-control .icon-prev, 
		.carousel-control .icon-next {
		top: 94%;
		}
	}
		@media only screen and (max-width: 320px) {
		.carousel-control .glyphicon-chevron-left, 
		.carousel-control .glyphicon-chevron-right, 
		.carousel-control .icon-prev, 
		.carousel-control .icon-next {
		top: 90.5%;
		}
	}
}

#contentCarousel {
	@media only screen and (min-width: 551px) and (max-width: 992px) {
		width: 441px;
		.carousel-indicators {
			bottom: 0;
		}
	}
}

.carousel-indicators {
		li {
		border: 0;
		border-radius: 0;
		width: 16px;
		height: 16px;
		margin: 0 10px 0 0;
		padding: 0;
		background: url('../img/slider-icons.png') no-repeat 0px 0px;
		&.active {
			background-position: -16px 0;
			width: 16px;
			height: 16px;
			margin: 0 10px 0 0;
			padding: 0;
		}
	}
}

.lt-ie9 #contentCarousel .carousel-indicators {
	bottom: 0;
}

// END carousel indicators
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––




//===========================================================
// BEGIN Carousel content

.carousel-caption {
	h1 {
		font-size: 30px;
		font-size: 3rem;
	}
}

.btn-danger {
	border: 1px solid #900;
	@include background-image(linear-gradient(#c50000, #930000));
	&:active, &.active,
	&:hover, &:focus {
		background-color: darken(#930000, 2%);
	}
}

.btn-lg, 
.btn-group-lg > .btn {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 20px;
	padding: 3px 20px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 300;
}

//===========================================================
// NEWS
//===========================================================

// Hide date for news items

.news-list-date {
	display: none;
}

a.more {
	// text-transform: capitalize;
}

//===========================================================
// Mail Form
//===========================================================

.csc-mailform form {
	margin-bottom: 20px;
	li.csc-form-element-textline,
	li.csc-form-element-textarea { 
		position: relative; margin: 10px 0;
		label { 
			position: absolute; top: 6px; left: 10px; cursor:	text;
		}
	}
}

.csc-form-element-textline input,
.csc-form-22 textarea {
		@include box-shadow(inset 0px 1px 2px 0 $color3);
		background-image: image-url('stripes.png');
		background-repeat: repeat;
		@include border-radius(4px);
		border: none !important;
}

.csc-mailform li input[type="text"] {
	height: 32px;
	padding-left: 10px;
	padding-left: 1rem;
	height: 3.2rem;
}

.csc-mailform label {
	font-weight: 300;
	em {
	display: inline-block;
	color: $color1;
	}
	strong { // red rectangle when required information is not given in the form
		// display: none;
		margin-top: -22px;
		margin-left: -4px;
		line-height: 1;
		border: 2px solid $color1;
		// color: transparent;
		@include box-shadow(0);
	}
}

.csc-form-2 {
	margin-top: 20px !important;
	select {
		width: 409px !important; // 392px !important;
		@include MQ(S) {
			width: 100% !important; // 194px !important;
			}
		height: 32px;
		height: 3.2rem;
		padding-top: 5px !important;
		background-color: transparent;
		background-image: image-url('stripes.png');
		background-repeat: repeat;
		@include border-radius(4px);
	}
	border-bottom: 1px solid $color3;
	padding-bottom: 6px !important;
	margin-bottom: 16px !important;
}

.csc-form-12, .csc-form-13 {
	float: left;
	list-style-type: none !important;
	list-style: none !important;
}


.csc-form-12 {
	margin-right: 10px !important;
}

.csc-form-12, .csc-form-13 {
	label, input {
	width: 15px !important
	}
	label {
		float: right !important;
	}
	input {
		float: left !important;
		margin-right: 8px;
	}
}


.csc-form-14, .csc-form-15,
.csc-form-16, .csc-form-17,
.csc-form-20, .csc-form-21 {
	float: left;
	@include MQ(S) {
		float: none;
	}
	input {
		width: 200px !important; // 194px !important;
		@include MQ(S) {
			width: 100% !important; // 194px !important;
			}
	}
}

.csc-form-14, .csc-form-16, .csc-form-20 {
	margin-right: 6px !important;
	@include MQ(S) {
		margin-right: 0 !important;
	}
}

.csc-form-14,
.csc-form-16, .csc-form-18,
.csc-form-22 {
	clear: left;
}

.csc-form-18, .csc-form-19,
.csc-form-22 {
	input {
	width: 409px !important; // 392px !important;
	@include MQ(S) {
		width: 100% !important; // 194px !important;
		}
	}
}

.csc-form-22 {
	border-top: 1px solid $color3;
	padding-top: 16px !important;
	margin-top: 16px !important;
	textarea {
		width: 409px !important; // 394px !important;
		padding: 10px 0 0 10px;
		padding: 1rem 0 0 1rem;
		@include MQ(S) {
			width: 100% !important; // 194px !important;
		}
	}
}

li.csc-form-element-textarea {
	label {
		top: 22px !important;
	}
}

.csc-mailform input[type="submit"] {
	padding: 4px 24px;
	line-height: 1;
	color: white;
	background-color: $color1;
	@include border-radius(23px);
	border: 1px solid darken($color1, 10%);
	text-transform: uppercase;
	@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
	// @include background-image(linear-gradient(lighten($color1, 25%), $color1));
	border: 1px solid #900;
	@include background-image(linear-gradient(#c50000, #930000));
	float: right;
	&:hover, &:focus {
		// @include box-shadow(2px 2px 2px rgba(153,0,0, 0.5));
		// border-color: rgb(51,204,255); //darken($color1, 25%);
		@include background-image(linear-gradient(darken(#930000, 10%), darken(#930000, 2%)));
		// background-color: darken(#930000, 2%);
	}
}

.lt-ie9 .csc-mailform {
	li.csc-form-element-textline {
		border: 1px solid $color3;
	}
	li.csc-form-element-textline {
		width: 199px;
	}
	li.csc-form-element-textarea {
		textarea {
			border: 1px solid $color3 !important;
		}
	}
}

//===========================================================
// Kontaktieren Sie uns Button

.contact-button {
	margin-top: 36px;
	margin-bottom: 30px;
}

//===========================================================
// Suche / Search results

body#pid-10 #content {
	min-height: 580px;
	.lt-ie9 & {
		min-height: 580px;
		height: auto !important;
		height: 580px;
	}
}

.tx-kesearch-pi1 .next,
.tx-kesearch-pi1 .prev {
	width: 16px !important;
	height: 16px !important;
	margin: 0 0 -3px !important;
}

.tx-kesearch-pi1 .next {
	background: url("../img/slider-icons.png") no-repeat scroll 0 -16px rgba(0, 0, 0, 0);
		&:hover, &:focus {
		background-position: -16px -16px;
		text-indent: -9999px;
	}
}

.tx-kesearch-pi1 .prev {
	background: url("../img/slider-icons.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0);
	&:hover, &:focus {
		background-position: -16px -32px;
		text-indent: -9999px;
	}
}

//===========================================================
// Footer
//===========================================================

#footer {
	.footer-image {
		background-image: url('../img/bg-machines-transparent-footer.png');
		background-repeat: no-repeat;
		background-position: center 7px; //97px;
		height: 187px; // 277px;
	}
	.footer-content  {
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 281px;
  	border-top: 3px solid $color2;
  	@include background-image(linear-gradient(top, $color3, $color4));
  	.row {
  		margin-top: 12px;
  		font-size: 12px;
  		font-style: 1.2rem;
  		li a {
  			line-height: auto;
  			padding-top: 0;
  			text-transform: none;
  			padding-left: 20px !important;
  			padding-right: 20px !important;
  			@media only screen and (min-width: 768px) and (max-width: 991px) {
  				padding-left: 10px !important;
  				padding-right: 10px !important;
  			}
  			&:hover, &:focus {
  				background-color: transparent;
  				color: $color2;
  				text-decoration: underline;
  			}
  		}
  		@media only screen and (min-width: 768px) {
  			li:first-child a {
  				padding-left: 0 !important;
  			}
  		}
  		li:last-child a {
  			padding-right: 0 !important;
  		}
  	}
  }
 }

 .footer-content .row {
 	li a {
 		@media only screen and (max-width: 991px) {
  			padding-left: 10px !important;
  			padding-right: 10px !important;
  		}
 	}
 }

 .footer-content {
 	.container {
 		  background-image: url('../img/bg-ornament-footer.png');
  		background-repeat: no-repeat;
  		background-position: 64px top;
  		background-size: 654px 90px;
  		height: 90px;
  		@media only screen and (min-width: 992px) {
  			width: 940px;
  		}
 	}
 }

 .lt-ie9 #footer .footer-content .row li a {
 	padding-left: 15px !important;
 	padding-right: 15px !important;
 	&:hover, &:focus {
 		background-color: transparent !important;
 		background: transparent !important;
 		color: $color2;
 		text-decoration: underline;
 	}
 }